<div class="container__wrapper">
  <div class="form__wrapper">
      <h3 class="mb-4">Upload Candidates</h3>
      <div *ngIf="currentFileUpload" class="progress mb-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".xlsx" (change)="selectFile($event)">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{currentSelectedFile}}</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02"  [disabled]="!selectedFiles" (click)="upload()">Upload</span>
        </div>
      </div>
  </div>

</div>