<div class="container__wrapper my-5">
  <div class="form__wrapper">
      <h5 class="mb-3 text-capitalize text-center"> <strong>Upload Candidates</strong> </h5>
      <div *ngIf="currentFileUpload" class="progress mb-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" accept=".xlsx" (change)="selectFile($event)">
          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{currentSelectedFile}}</label>
        </div>

       
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroupFileAddon02"  [disabled]="!selectedFiles" (click)="upload()">Upload</span>
        </div>
      </div>

      

       <div *ngIf='UploadError'  >

        <strong style="color:red;">{{errMessage}}</strong>


      </div> 

  </div>

</div>