.headingcenter {
    text-align: center;   
 }

 .container-fluid {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
  }

  .In-Place {
   background-color:#08d657 !important;
   color: #ffffff !important;
}

.Yet-to-start {
   background-color:#DC143C !important;
   color: #ffffff !important;
}

.In-Progress {
   background-color:#ffbf00 !important;
   color: #ffffff !important;
}

.yts{
   background-color: green !important;
   color:black;
   font-family: Arial, Helvetica, sans-serif
   
   }   

   /* .default{
     background-color:#ffbf00 !important;
     color: white;
     
     }   */

     .tbs{
       background-color:white !important;
       color: green !important;
       font-family: Arial, Helvetica, sans-serif
       
       }  

       .joined{
         background-color: green !important;
         color:white !important;
         font-family: Arial, Helvetica, sans-serif
         
         } 


         .OfferInProgress{
           background-color:#ffbf00!important;
           color: white  !important;
           font-family: Arial, Helvetica, sans-serif
           
         }

         .OfferRelaesed{
           background-color:#ffbf00 !important;
           color:white !important;
           font-family: Arial, Helvetica, sans-serif
         }
#emailId{
 width: 200px;
}

.filter-header {
  padding: 0em 0.571em 0em 0.857em !important;
  padding: 0em !important;
  padding-right: 0em;
}
.filter-label{
    height: 15%;
    font-size: 10px;
    width:10%;

}