<div class="container__wrapper my-5">
  <div class="clearfix mb-3">
    <a routerLink="/profile"> &lt; Back to all profiles</a>
  </div>
  <div class="card card-body mb-2">
    <div class="row">
      <div class="col-sm-8">
        <h5 class="card-title mb-1">{{ profile.candidateName || 'NA' }}</h5>
        <p class="m-0 text-muted text-uppercase small">{{ profile.roleOfResponsibilities || 'NA' }} | {{
          profile.totalExperience || 'NA' }}</p>
      </div>
      <div class="col-sm-4 text-right">
        <a href="javascript:void(0)" class="btn btn-custom btn-sm" *ngIf="!is_editable" (click)="toggleEditState()">Edit
          profile</a>
        <!-- <a href="javascript:void(0)" class="btn btn-danger btn-sm"  *ngIf="is_editable" (click)="toggleEditState()">Cancel</a> -->
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-3 container__display" *ngIf="!is_editable">
    <div *ngFor="let key of keys" [ngClass]="{'col-sm-3': excludable_keys_in_display_mode.indexOf(key)===-1}">
      <div *ngIf="excludable_keys_in_display_mode.indexOf(key)===-1">
        <strong class="text-capitalize mr-1 text-muted">{{ mapping_keys[key]?mapping_keys[key]:key }}: </strong>
        <span>{{ profile[key] || 'NA' }}</span>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="is_editable">
          <div class="row">
              <div class="form-wrapper  col-md-6 col-md-offset-3">
                  <form [formGroup]="CandidatureDetails" class="form-group">
                      <fieldset class="step-1" [hidden]="!(step == 1)">
                        <legend>Edit Candidate</legend>
        
                        <p>Step 1/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="10"
                          aria-valuemin="0" aria-valuemax="100" style="width:10%">
                          <span class="sr-only">10% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="candidateName" class="input">Candidate Name</label>
                          <input name="candidateName" class="form-control" type="text" placeholder=""
                                 [formControl]="CandidatureDetails.controls['candidateName']">
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['candidateName'].invalid && CandidatureDetails.controls['candidateName'].touched">
                                <i>You must enter candidate name.</i>                   
                          </div><br>
                        <label for="emailId" class="input">Email</label>
                        <input name="emailId" class="form-control" type="email" placeholder=""
                                 [formControl]="CandidatureDetails.controls['emailId']">
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['emailId'].invalid &&
                               CandidatureDetails.controls['emailId'].touched &&
                               !CandidatureDetails.controls['emailId'].hasError('emailTaken')">
                                <i>That doesn't look right. </i>                   
                          </div>
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['emailId'].invalid &&
                               CandidatureDetails.controls['emailId'].touched &&
                               CandidatureDetails.controls['emailId'].hasError('emailTaken')
                          ">
                                <i>This email is already taken. </i>                   
                          </div>
                         <br>
                        <label for="contactNo" class="input">Contact Number</label>
                        <input name="contactNo" class="form-control contact" type="text" pattern="[1-9]{1}[0-9]{9}" maxlength="10" placeholder=""
                                 [formControl]="CandidatureDetails.controls['contactNo']">
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['contactNo'].invalid && CandidatureDetails.controls['contactNo'].touched">
                                <i>Contact Number is mandatory and its should be numberic </i>                   
                          </div><br>
                        <label for="roleOfResponsibilities" class="input">Roles</label>
                        <input name="roleOfResponsibilities" class="form-control" type="roleOfResponsibilities" placeholder=""
                                 [formControl]="CandidatureDetails.controls['roleOfResponsibilities']">
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['roleOfResponsibilities'].invalid &&
                               CandidatureDetails.controls['roleOfResponsibilities'].touched">
                                <i>Roles must be entered</i>                   
                          </div><br>
        
                          <button [disabled]="
                                              "
                                  class="btn btn-primary"
                                  (click)="step=2;">Next</button>
                      </fieldset>
                      <fieldset [hidden]="!(step==2)" class="step-2">
                        <legend>Add Experience Details data</legend>
                        <p>Step 2/10</p>
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100" style="width:20%">
                            <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                          <br>
                          <label for="totalExperience" class="input">Total Experience(In Years)</label>
                          <input name="totalExperience"
                                 class="form-control"
                                 [formControl]="CandidatureDetails.controls['totalExperience']"
                                 type="number" step="0.1" placeholder="(Integer value)">
                          <div class="alert alert-danger"
                               *ngIf="CandidatureDetails.controls['totalExperience'].invalid &&
                               CandidatureDetails.controls['totalExperience'].touched">
                              <i>Must enter year of Experience. </i>                   
                          </div>
                          <br>
                          <label for="relevantExperience" class="input">Relevant Experience(In Years)</label>
                          
                          <input name="relevantExperience"
                          class="form-control"
                          [formControl]="CandidatureDetails.controls['relevantExperience']"
                          type="number" placeholder="(Integer Value)" step="0.1">
                   <div class="alert alert-danger"
                        *ngIf="CandidatureDetails.controls['relevantExperience'].invalid &&
                        CandidatureDetails.controls['relevantExperience'].touched">
                       <i>Must enter year of Experience. </i>                   
                   </div>      
                          <br>
                          <label for="noticePeriod" class="input">Notice Period(In Days)</label>
                          <input name="noticePeriod"
                                 class="form-control"
                                 [formControl]="CandidatureDetails.controls['noticePeriod']"
                                 type="number" placeholder="(Integer Value)">
        
                                 <br>
                         
                                 <label for="ctc" class="input">CTC(In Lakh)</label>
                          <input name="ctc" class="form-control"
                                 [formControl]="CandidatureDetails.controls['ctc']"
                                 type="number" step="0.1" placeholder="(Integer value)">
                        
                                 <br>
                        <label for="expectedCTC" class="input">Expected CTC(In Lakh)</label>
                                 <input name="ectc"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['ectc']"
                                        type="number" step="0.1" placeholder="(Integer value)"> 
                          
                          <br>
        
                          <button [disabled]="
                                              "
                                  class="btn btn-primary"
                                  (click)="step=1;">Prev</button>
        
        
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 3;">Next</button>
                      </fieldset>
        
                      <fieldset [hidden]="!(step == 3)" class="step-3">
                        <legend>Add Location details</legend>
        
                        <p>Step 3/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="30"
                               aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                            <span class="sr-only">30% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="currentLocation" class="input">Current Location</label>
                          <input name="currentLocation" class="form-control"
                                 [formControl]="CandidatureDetails.controls['currentLocation']"
                                 type="text">
                        
                                 <br>
                        <label for="preferredLocation" class="input">Preferred Location</label>
                                 <input name="preferredLocation"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['preferredLocation']"
                                        type="text">   
                                        
                                        <br>
                        <label for="positionLocation" class="input">Position Location</label>
                                <input name="positionLocation"
                                 class="form-control"
                                [formControl]="CandidatureDetails.controls['positionLocation']"
                               type="text">                    
        
                                 
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 4;">Next</button>
                      </fieldset>
        
                      <fieldset [hidden]="!(step == 4)" class="step-4">
                        <legend>Candidate Hiring Details</legend>
        
                        <p>Step 4/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="40"
                               aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete</span>
                          </div>
                        </div>
                        <br>
        
                        <label for="modeOfHiring" class="input">Mode Of Hiring</label>
                        <input name="modeOfHiring" class="form-control"
                               [formControl]="CandidatureDetails.controls['modeOfHiring']"
                               type="text">
            
                               <br>
        
                       <label for="vendorName" class="input">Source</label>
                        <input name="vendorName" class="form-control"
                             [formControl]="CandidatureDetails.controls['vendorName']"
                                type="text"> 
                                
                                <br>
                        <label for="description" class="input">Description</label>
                                <input name="description" class="form-control"
                                     [formControl]="CandidatureDetails.controls['description']"
                                        type="text"> 
                              <br> 
                              <label for="actionPending" class="input">Action Pending</label>
                              <input name="actionPending" class="form-control"
                                   [formControl]="CandidatureDetails.controls['actionPending']"
                                      type="text">   
                                      
                            <br> 
                      <label for="client" class="input">Client</label>
                            <input name="client" class="form-control"
                                 [formControl]="CandidatureDetails.controls['client']"
                                    type="text"> 
                                    
                                    <button [disabled]=""
                                    class="btn btn-primary"
                                    (click)="step = 5;">Next</button>
                          </fieldset> 
                          
                          <fieldset [hidden]="!(step == 5)" class="step-5">
                            <legend>Screening Details</legend>
            
                            <p>Step 5/10</p>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                   aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                <span class="sr-only">50% Complete</span>
                              </div>
                            </div>
                            <br>
            
                            <label for="profileSharedDate" class="input">Profile Shared Date</label>
                            <input name="profileSharedDate" class="form-control"
                                   [formControl]="CandidatureDetails.controls['profileSharedDate']"
                                   type="date">
                
                                   <br>
            
                           <label for="screeningStatus" class="input">Screening Status</label>
                            <input name="screeningStatus" class="form-control"
                                 [formControl]="CandidatureDetails.controls['screeningStatus']"
                                    type="date"> 
                                    
                                    <br>
                            <label for="screeningDate" class="input">Screening Date</label>
                                    <input name="screeningDate" class="form-control"
                                         [formControl]="CandidatureDetails.controls['screeningDate']"
                                            type="date"> 
                                  <br> 
                                  <label for="screeningDoneBy" class="input">Screening Done By</label>
                                  <input name="screeningDoneBy" class="form-control"
                                       [formControl]="CandidatureDetails.controls['screeningDoneBy']"
                                          type="text">   
                                          
                                <br> 
                                        <button [disabled]=""
                                        class="btn btn-primary"
                                        (click)="step = 6;">Next</button>
                          </fieldset>
                                <fieldset [hidden]="!(step == 6)" class="step-6">
                        <legend>First Round Details</legend>
        
                        <p>Step 6/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60"
                               aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="firstRoundStatus" class="input">First Round Status</label>
                          <input name="firstRoundStatus" class="form-control"
                                 [formControl]="CandidatureDetails.controls['firstRoundStatus']"
                                 type="text">
                        
                                 <br>
                        <label for="firstRoundDate" class="input">First Round Date</label>
                                 <input name="firstRoundDate"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['firstRoundDate']"
                                        type="date">   
                                        
                                        <br>
                        <label for="firstRoundTakenBy" class="input">First Round TakenBy</label>
                                <input name="firstRoundTakenBy"
                                 class="form-control"
                                [formControl]="CandidatureDetails.controls['firstRoundTakenBy']"
                               type="text">   
                               
                               <br>
        
                                 
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 7;">Next</button>
                      </fieldset>  
        
                      <fieldset [hidden]="!(step == 7)" class="step-7">
                        <legend>Second Round Details</legend>
        
                        <p>Step 7/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                               aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="secondRoundStatus" class="input">Second Round Status</label>
                          <input name="secondRoundStatus" class="form-control"
                                 [formControl]="CandidatureDetails.controls['secondRoundStatus']"
                                 type="text">
                        
                                 <br>
                        <label for="secondRoundDate" class="input">Second Round Date</label>
                                 <input name="secondRoundDate"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['secondRoundDate']"
                                        type="date">   
                                        
                                        <br>
                        <label for="secondRoundTakenBy" class="input">Second Round TakenBy</label>
                                <input name="secondRoundTakenBy"
                                 class="form-control"
                                [formControl]="CandidatureDetails.controls['secondRoundTakenBy']"
                               type="text">   
                               
                               <br>
        
                                 
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 8;">Next</button>
                      </fieldset>  
        
                      <fieldset [hidden]="!(step == 8)" class="step-8">
                        <legend>Second Round Details</legend>
        
                        <p>Step 8/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="80"
                               aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="finalRoundStatus" class="input">Final Round Status</label>
                          <input name="finalRoundStatus" class="form-control"
                                 [formControl]="CandidatureDetails.controls['finalRoundStatus']"
                                 type="text">
                        
                                 <br>
                        <label for="finalRoundDate" class="input">Final Round Date</label>
                                 <input name="finalRoundDate"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['finalRoundDate']"
                                        type="date">   
                                        
                                        <br>
                        <label for="finalRoundTakenBy" class="input">Final Round TakenBy</label>
                                <input name="finalRoundTakenBy"
                                 class="form-control"
                                [formControl]="CandidatureDetails.controls['finalRoundTakenBy']"
                               type="text">   
                               
                               <br>
                          
        
                                 
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 9;">Next</button>
                      </fieldset>  
                      <fieldset [hidden]="!(step == 9)" class="step-9">
                        <legend>HR Round Details</legend>
        
                        <p>Step 9/10</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="90"
                               aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">90% Complete</span>
                          </div>
                        </div>
                        <br>
                        <label for="hrOrPnStageRound" class="input">HR Round </label>
                          <input name="hrOrPnStageRound" class="form-control"
                                 [formControl]="CandidatureDetails.controls['hrOrPnStageRound']"
                                 type="text">
                        
                                 <br>
                        <label for="hrOrPnStageStatus" class="input">HR Round Status</label>
                                 <input name="hrOrPnStageStatus"
                                        class="form-control"
                                        [formControl]="CandidatureDetails.controls['hrOrPnStageStatus']"
                                        type="text">   
                                        
                                        <br>
                        <label for="hrOrPnStageDate" class="input">HR Round Date</label>
                                <input name="hrOrPnStageDate"
                                 class="form-control"
                                [formControl]="CandidatureDetails.controls['hrOrPnStageDate']"
                               type="date">   
                               
                               <br>
        
                                 
                        <button [disabled]=""
                                class="btn btn-primary"
                                (click)="step = 10;">Next</button>
                      </fieldset>     
                      
                         <fieldset [hidden]="!(step == 10)" class="step-10"> 
        
                            <legend>Final Status</legend>
        
                            <p>Step 10/10</p>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                   aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">100% Complete</span>
                              </div>
                            </div>
                            <br>
                            <label for="finalStatus" class="input">Final Status</label>
                              <input name="finalStatus" class="form-control"
                                     [formControl]="CandidatureDetails.controls['finalStatus']"
                                     type="text">
                            
                                     <br>
                            <label for="status" class="input">Status</label>
                                     <input name="status"
                                            class="form-control"
                                            [formControl]="CandidatureDetails.controls['status']"
                                            type="text">   
                                            
                                            <br>
                            <label for="joiningDate" class="input">Joining Date</label>
                                    <input name="joiningDate"
                                     class="form-control"
                                    [formControl]="CandidatureDetails.controls['joiningDate']"
                                   type="date">   
                                   
                                   <br>
                              <label for="joiningStatus" class="input">Joining Status</label>
                                    <input name="joiningStatus"
                                     class="form-control"
                                    [formControl]="CandidatureDetails.controls['joiningStatus']"
                                   type="text">   
                                   <br>   
                                   
                                   <br>          
                      
                        <button [disabled]="!CandidatureDetails.valid" class="btn btn-primary" (click)="onAddProfileData()">Save</button>
                      </fieldset>
                      <fieldset [hidden]="!(step == 10)" class="step-9 fieldsetcenter">
                        <legend>Edit candidate Profile</legend>
                        <p>Determining your portfolio sugestions.</p>
                      </fieldset>
                  </form>
              </div>
          </div>
          <div class="row" style="text-align: center;">
            
            <a href ='' (click)="onAddProfileData()"  >Back to Home</a><br>
          </div>
  </div>

  <!-- <form action="javascript:void(0)" novalidate *ngIf="is_editable">

    <div class="row mt-4 mb-4">
      <div *ngFor="let key of keys" class="col-sm-3 mb-2">
        <label [for]="'edit_profile_' + key" class="small text-muted text-uppercase mb-0 label--small">{{
          mapping_keys[key]?mapping_keys[key]:key }}</label>
        <input type="text" [id]="'edit_profile_' + key" [name]="'edit_profile_' + key" class="form-control form-control-sm"
          pInputText [(ngModel)]="profile[key]">
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-custom" (click)="showConfirm('fromsave',profile)">Save</button>
      <button type="button" class="btn btn-secondary-custom" (click)="showConfirm('fromdelete',profile)">Delete</button>
      <button type="button" class="btn btn-outline-secondary-custom" (click)="toggleEditState()">Cancel</button>
    </div>

    <div class="content-section implementation">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>

      <p-toast [style]="{marginTop: '80px'}" position="top-left" key="tl"></p-toast>

      <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>

      <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-center"></p-toast>

      <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="text-center p-4">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
          </div>
          <div class="ui-g ui-fluid">
            <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" class="btn btn-custom">Confirm</button>
            </div>
            <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" class="btn btn-secondary-custom">Cancel</button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </form> -->
</div>