<div class="container__wrapper my-5">
        <!-- <p  align="right"><a [routerLink]="['/login']">Logout</a></p> -->
        <h5 class="mb-3 text-capitalize">
            <strong *ngIf="add_candidate">List of candidates & recruitment status</strong>
            <strong *ngIf="!add_candidate">Add new candidate</strong>
        </h5>

        
<div class="content-section implementation ui-fluid" *ngIf="add_candidate">
<p-table #dt [columns]="cols" [value]="candidatures" selectionMode="single"  [paginator]="true" [rows]="5" dataKey="contactNo" (onRowSelect)="onRowSelect($event)">
        
    <ng-template pTemplate="caption">
        <div class="row">
            <div class="col">
                <!--Code for Search.-->   
                <div class="text-left" style="position: realtive;">
                    <i class="fa fa-search icon-showcase"></i>
                    <input type="text" class="form-control form-control-sm" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </div>
            <div class="col">
                <!--Code for Export.-->    
                <div class="ui-helper-clearfix text-right">
                    <button class="btn btn-link btn-sm" (click)="exportAsXLSX()">
                        Export <i class="fa fa-file-excel-o"></i>
                    </button>
                    <a href="javascript:void(0)" class="btn btn-custom btn-sm btn--depressed" *ngIf="add_candidate" (click)="toggleAddState()">Add Candidate</a>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
                    <th style="width: 3em"></th>   
              <th *ngFor="let col of columns" >{{col.header}} </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
          <tr [pSelectableRow]="rowData">
                <td>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
            <td *ngFor="let col of columns" >
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
   
       
</p-table>

<!--Code for Dialog display-->


</div>
<div class="form-wrapper">
<form [formGroup]="CandidatureDetails" (ngSubmit)="DisplayOnConsole()"  *ngIf="!add_candidate" novalidate>

    <div class="row mt-4 mb-4">

      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend ">
              <span class="input-group-text">Name</span>
            </div>
          <input type="text" name="candidateName" class="form-control" [formControl]="CandidatureDetails.controls['candidateName']">
          </div>
          <div *ngIf="CandidatureDetails.controls['candidateName'].hasError('required') && CandidatureDetails.controls['candidateName'].touched" style="color:red">
              <i > Name is required.</i>
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Phone</span>
            </div>
            <input type="text" name="contactNo" class="form-control"  [formControl]="CandidatureDetails.controls['contactNo']">
          </div>
          <div *ngIf="CandidatureDetails.controls['contactNo'].invalid && CandidatureDetails.controls['contactNo'].touched" style="color:red">
              <i > Phone number is required.</i>
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">E-mail ID</span>
            </div>
            <input type="text" name="emailId" class="form-control"  [formControl]="CandidatureDetails.controls['emailId']">
          </div>
          <div *ngIf="CandidatureDetails.controls['emailId'].invalid && CandidatureDetails.controls['emailId'].touched" style="color:red">
              <i > Email Id is required.</i>
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Role</span>
            </div>
          <input type="text" name="roleOfResponsibilities" class="form-control" [formControl]="CandidatureDetails.controls['roleOfResponsibilities']">
          </div>
          <div *ngIf="CandidatureDetails.controls['roleOfResponsibilities'].hasError('required') && CandidatureDetails.controls['roleOfResponsibilities'].touched" style="color:red">
              <i >Role is required.</i>
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Total Experience</span>
            </div>
            <input type="number" min="0" step="0.1" placeholder="(Integer Value)" name="totalExperience"class="form-control"  [formControl]="CandidatureDetails.controls['totalExperience']">
          </div>
          <div *ngIf="CandidatureDetails.controls['totalExperience'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Relevant Experience</span>
            </div>
            <input type="number"  min="0" step="0.1" placeholder="(Integer Value)" name="relevantExperience" class="form-control"  [formControl]="CandidatureDetails.controls['relevantExperience']">
          </div>
          <div *ngIf="CandidatureDetails.controls['relevantExperience'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Notice Period</span>
            </div>
            <input type="number"  min="0" step="0.1" placeholder="(Integer Value)" name="noticePeriod" class="form-control"  [formControl]="CandidatureDetails.controls['noticePeriod']">
          </div>
          <div *ngIf="CandidatureDetails.controls['noticePeriod'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">CTC</span>
            </div>
            <input type="text" name="ctc" class="form-control"  [formControl]="CandidatureDetails.controls['ctc']">
          </div>
          <div *ngIf="CandidatureDetails.controls['ctc'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Expected CTC</span>
            </div>
            <input type="text" name="ectc" class="form-control"  [formControl]="CandidatureDetails.controls['ectc']">
          </div>
          <div *ngIf="CandidatureDetails.controls['ectc'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Current Location</span>
            </div>
            <input type="text" name="currentLocation" class="form-control"  [formControl]="CandidatureDetails.controls['currentLocation']">
          </div>
          <div *ngIf="CandidatureDetails.controls['currentLocation'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Preferred Location</span>
            </div>
            <input type="text" name="preferredLocation"class="form-control"  [formControl]="CandidatureDetails.controls['preferredLocation']">
          </div>
          <div *ngIf="CandidatureDetails.controls['preferredLocation'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Position Location</span>
            </div>
            <input type="text" name="positionLocation" class="form-control"  [formControl]="CandidatureDetails.controls['positionLocation']">
          </div>
          <div *ngIf="CandidatureDetails.controls['positionLocation'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Mode Of Hiring</span>
            </div>
            <input type="text" name="modeOfHiring"class="form-control"  [formControl]="CandidatureDetails.controls['modeOfHiring']">
          </div>
          <div *ngIf="CandidatureDetails.controls['modeOfHiring'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Source</span>
            </div>
            <input type="text" name="vendorName" class="form-control"  [formControl]="CandidatureDetails.controls['vendorName']">
          </div>
          <div *ngIf="CandidatureDetails.controls['vendorName'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Profile Shared Date</span>
            </div>
            <input type="date" name="profileSharedDate" class="form-control"  [formControl]="CandidatureDetails.controls['profileSharedDate']">
          </div>
          <div *ngIf="CandidatureDetails.controls['profileSharedDate'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Screening Status</span>
            </div>
            <input type="text" name="screeningStatus"class="form-control"  [formControl]="CandidatureDetails.controls['screeningStatus']">
          </div>
          <div *ngIf="CandidatureDetails.controls['screeningStatus'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Screening Date</span>
            </div>
            <input type="date" name="screeningDate" class="form-control"  [formControl]="CandidatureDetails.controls['screeningDate']">
          </div>
          <div *ngIf="CandidatureDetails.controls['screeningDate'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Screening Done By</span>
            </div>
            <input type="text" name="screeningDoneBy" class="form-control"  [formControl]="CandidatureDetails.controls['screeningDoneBy']">
          </div>
          <div *ngIf="CandidatureDetails.controls['screeningDoneBy'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">1st Round status</span>
            </div>
            <input type="text" name="firstRoundStatus" class="form-control"  [formControl]="CandidatureDetails.controls['firstRoundStatus']">
          </div>
          <div *ngIf="CandidatureDetails.controls['firstRoundStatus'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">1st Round Date</span>
            </div>
            <input type="date" name="firstRoundDate" class="form-control"  [formControl]="CandidatureDetails.controls['firstRoundDate']">
          </div>
          <div *ngIf="CandidatureDetails.controls['firstRoundDate'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">1st Round Taken By</span>
            </div>
            <input type="text" name="firstRoundTakenBy" class="form-control"  [formControl]="CandidatureDetails.controls['firstRoundTakenBy']">
          </div>
          <div *ngIf="CandidatureDetails.controls['firstRoundTakenBy'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">2nd Round status</span>
            </div>
            <input type="text" name="secondRoundStatus" class="form-control"  [formControl]="CandidatureDetails.controls['secondRoundStatus']">
          </div>
          <div *ngIf="CandidatureDetails.controls['secondRoundStatus'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">2nd Round Date</span>
            </div>
            <input type="date" name="secondRoundDate" class="form-control"  [formControl]="CandidatureDetails.controls['secondRoundDate']">
          </div>
          <div *ngIf="CandidatureDetails.controls['secondRoundDate'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">2nd Round Taken By</span>
            </div>
            <input type="text" name="secondRoundTakenBy" class="form-control"  [formControl]="CandidatureDetails.controls['secondRoundTakenBy']">
          </div>
          <div *ngIf="CandidatureDetails.controls['secondRoundTakenBy'].hasError('required')" style="color:red">  
            </div>
      </div>
      <div  class="col-sm-3 mb-2">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">Final Round Status</span>
            </div>
            <input type="text"name="finalRoundStatus" class="form-control"  [formControl]="CandidatureDetails.controls['finalRoundStatus']">
          </div>
          <div *ngIf="CandidatureDetails.controls['finalRoundStatus'].hasError('required')" style="color:red">  
            </div>
      </div>
    
    </div>
    
    <div class="text-center">
      <button type="submit" class="btn btn-custom"  >Save</button>
      <button type="button" class="btn btn-outline-secondary-custom" (click)="toggleAddState()">Cancel</button>
    </div>

      <div class="content-section implementation">
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
      
        <p-toast [style]="{marginTop: '80px'}" position="top-left" key="tl"></p-toast>
      
        <p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>
      
        <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-center"></p-toast>
      
        <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div class="text-center p-4">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>{{message.summary}}</h3>
                    <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onConfirm()"  class="btn btn-custom">Confirm</button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onReject()"  class="btn btn-secondary-custom">Cancel</button>
                    </div>
                </div>
            </ng-template>
        </p-toast>
        </div> 
</form>
</div>
 
</div>


