/* You can add global styles to this file, and also import other style files */
//@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
//@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.login {
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
        padding: 2rem 0;
        label {
            font-size: 12px;
        }
    }
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }


.btn {
    &.yellow {
        color: #666 !important;
        background: #ffeb3b !important;
    }
}

.container {
    &__wrapper {
        min-height: 80vh;
        // padding: 2rem 1rem;
        padding: 0 1rem;
    }
    &__display {
        line-height: 2;
        font-size: 14px;
        font-weight: 400;
        strong {
            font-weight: 600;
        }
    }
}

.form {
    &__wrapper {
        width: 480px;
        margin: 0 auto;
        &--mini {
            width: 280px;
        }
    }
}

.icon-showcase {
    position: absolute;
    top: 0;
    z-index: 10;
    pointer-events: none;
    margin: 0;
    left: 25px;
    opacity: 0.3;
    line-height: 31px !important;
    + .form-control {
        padding-left: 30px;
    }
}

.ui-table-wrapper {
    overflow-x: auto;
}

.card {
    box-shadow: none !important;
    // border: 1px solid #ddd !important;
    border-left: 5px solid #ffeb3b !important;
    border-radius: 0 !important;
    background: #f9f9f9 !important;
    &-title {
        font-weight: 500;
    }
}

.btn {
    &-secondary-custom {
        background: #ddd !important;
        &:hover {
            background: darken(#ddd, 2%) !important;
        }
        &, &:hover, &:focus, &:visited {
            color: #333 !important;
        }
    }
    &-outline-secondary-custom {
        border: 2px solid #ccc !important;
        background: #fff !important;
        color: #666 !important;
    }
    &-custom {
        background: #ffeb3b;
        &:hover {
            background: darken(#ffeb3b, 2%);
        }
        &, &:hover, &:focus, &:visited {
            color: #333 !important;
        }
    }
    &--depressed {
        box-shadow: none !important;
    }
}
body .ui-widget {
    font-family: "Roboto", sans-serif !important;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: #ffeb3b !important;
    color: #333 !important;
}
body .ui-table .ui-table-tbody > tr > td,
body .ui-table .ui-table-thead > tr > th,
body .ui-table .ui-table-caption {
    border-color: #fff !important;
}
body .ui-table .ui-table-thead > tr > th {
    background: #dddfe9 !important;
}
body .ui-table .ui-table-tbody > tr {
    &:nth-child(even) {
        background: #f8f9fe !important;
    }
    &:hover {
        background: darken(#f8f9fe, 2%) !important;
    }
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
    background: #fff !important; 
}

.label {
    &--small {
        font-size: 10px !important;
    }
}

.nav-link {
    font-size: 14px;
    &.active-link {
        font-weight: 500;
    }
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #dddfe9 !important;
    &:hover {
        color: darken(#dddfe9, 3%) !important;
    }
    &.active-link {
        color: #fff !important;
    }
}
