/* You can add global styles to this file, and also import other style files */
//@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
//@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.login {
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 80vh;
        padding: 2rem 0;
        label {
            font-size: 12px;
        }
    }
}
.footer {
    &__copyright {
        padding: 3rem 1rem;
    }
    &__content {
        opacity: 0.6;
    }
}

.btn {
    &.yellow {
        color: #666 !important;
        background: #ffeb3b !important;
    }
}

.container {
    &__wrapper {
        min-height: 80vh;
        padding: 2rem 1rem;
    }
    &__display {
        line-height: 2;
        font-size: 14px;
        font-weight: 400;
        strong {
            font-weight: 600;
        }
    }
}

.form {
    &__wrapper {
        width: 480px;
        margin: 0 auto;
    }
}

.icon-showcase {
    position: absolute;
    top: 0;
    z-index: 10;
    pointer-events: none;
    margin: 0;
    left: 25px;
    opacity: 0.3;
    line-height: 31px !important;
    + .form-control {
        padding-left: 30px;
    }
}

.ui-table-wrapper {
    overflow-x: auto;
}

.card {
    box-shadow: none !important;
    // border: 1px solid #ddd !important;
    border-left: 5px solid #ffeb3b !important;
    border-radius: 0 !important;
    background: #f9f9f9 !important;
    &-title {
        font-weight: 500;
    }
}

.btn {
    &-custom {
        background: #ffeb3b;
        &:hover {
            background: darken(#ffeb3b, 2%);
        }
        &, &:hover, &:focus, &:visited {
            color: #333 !important;
        }
    }
}